version: "3.9"

services:
  frontend:
    image: nginx:alpine
    volumes:
      - ./index.html:/usr/share/nginx/html/index.html
    ports:
      - "8080:80"

  backend:
    build: ./backend
    ports:
      - "3000:3000"

